html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

.errors-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.errors-list li {
  padding: 3%;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #d3d3d3;
  overflow: hidden;
}

.navbar .right {
  display: inline-block;
  float: right;
}

.navbar .left {
  display: inline-block;
  float: left;
}

.navbar a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: white;
}

.navbar #date {
  padding: 20px;
  color: #19ABB5;
  width: 15%;
  text-align: center;
  display: inline-block;
  border: none;
}

.navbar a:hover {
  color: white;
  background-color: #19ABB5;
}

main {
  clear: both;
  width: 80%;
  margin: 5% auto;
  padding-bottom: 4%;
  border: 1px solid white;
}

h1 {
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 2.5em;
  color: #19ABB5;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #d3d3d3;
}

.footer p {
  margin: 5px;
  font-size: x-small;
  color: white;
}

#index-button a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 200px;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  padding: 1em;
  margin: auto;
  color: white;
  background-color: #d3d3d3;
}

#index-button a:hover, #form-submit a:hover {
  border-color: #19ABB5;
  background-color: #19ABB5;
}

#user-password-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: block;
  border-radius: .5em;
  padding: 1em;
  margin: auto;
}

#form-name, #form-username, #form-password {
  width: 90%;
  margin: 0 auto 1%;
  padding: 2%;
}

#form-submit {
  text-decoration: none;
  display: block;
  margin: 5% auto 0;
  color: white;
  padding: 1em;
  box-shadow: 0px 0px 3px 3px white;
  width: 235px;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  background-color: #d3d3d3;
}

#form-submit:hover {
  background-image: none;
  background-color: #19ABB5;
  border-color: #19ABB5;
}

.hidden {
  display: none;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-list-item {
  display: block;
  margin-top: 2%;
  border: 1px solid black;
  clear: both;
  padding: 1%;
  background-color: #d3d3d3;
}

.profile-list-item p {
  margin: 0;
}

.profile-list-item-data {
  display: inline-block;
}

.item {
  margin: 2%;
}

.checked {
  color: #d3d3d3;
}

input[type=checkbox].checkbox.checked {
	position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px; width:1px;
  margin:-1px;
  padding:0;
  border:0;
  opacity: 0;
}

input[type=checkbox].checkbox {
	position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px; width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].checkbox + label.item {
  padding-left:29px;
  height:24px;
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:24px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].checkbox:checked + label.item {
	background-position: 0 -24px;
}

label.item {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_82405711c484478c3bbca93e304dc9c3.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#list-form {
  width: 60%;
  margin: auto;
  padding: 5%;
}
