<h1><%= current_user.name %>'s list</h1>

<div id="add-new-item" class="index-button">
  <a href="/items/new">add new item</a>
</div>

<ul class="profile-list">
  <% current_user.items.reverse.each do |item| %>
      <%= erb :"/items/_show", layout: false, locals: { item: item } %>
  <%end%>
</ul>
