<h1>add new item</h1>

<form id="user-password-form" action="/items" method="post">
  <input type="hidden" name="item[user_id]" value="<%= current_user.id %>">
  <input id="form-name" type="text" name="item[list_item]" placeholder="Today, I..."><br>
  <input id="form-submit" type="submit" value="Add to your list">
</form>
