<h1>log in</h1>

<form id="user-password-form" action="/login" method="post">
  <% if @errors %>
    <%= erb :'_errors', layout: false, locals: { errors: @errors } %>
  <% end %>
  <input  id="form-username" type="text" name="username" placeholder="username"><br>
  <input id="form-password" type="password" name="password" placeholder="password"><br>
  <input id="form-submit" type="submit" value="log in">
</form>
