<h1>log in</h1>

<form id="user-password-form" action="/login" method="post">
  <% if @errors %>
    <ul class="errors-list">
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <input  id="form-username" type="text" name="username" placeholder="username"><br>
  <input id="form-password" type="password" name="password" placeholder="password"><br>
  <input id="form-submit" type="submit" value="log in">
</form>
