<h1>Log in</h1>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form id="user-password-form" action="/login" method="post">
  <input type="text" name="username" placeholder="username"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Log in">
</form>

<div id="index-button">
  <a href="/login">Sign up</a>
</div>
