<h1>Accountability Checklist</h1>

<% if logged_in? %>

    <div id="index-button">
      <a href="/list">start today's review</a>
    </div>

<% else %>
  <div id="index-button">
    <a href="/login">log in</a>
  </div>
<% end %>
