<h1>accountability checklist</h1>

<ul class="tabs">
    <li class="active"><a href="#accountability">accountability</a></li>
    <li><a href="#integrity">integrity</a></li>
    <li><a href="#self-determination">self-determination</a></li>
</ul>

<div class="tab-content" id="accountability">
  <h2><a href="http://www.habitsforwellbeing.com/what-is-personal-accountability/">accountability</a></h2>
  <p>
    It is the desire to set standards for yourself, and then live up to those standards. This is hard
    because in many ways you are making a change by striving against what is already there. It means having a clear vision of what it means to be a
    successful you. And as these standards come from your values, being accountable means being unflinchingly
    in touch with what you want to accomplish in your life--for no one else but yourself.
  </p>
</div>

<div class="tab-content" id="integrity">
  <h2><a href="https://flowchainsensei.wordpress.com/2012/10/21/a-beginners-guide-to-personal-integrity/">integrity</a></h2>
  <p>
    Integrity means acting out directly from your values, as opposed to being swayed to act from the values of others. Having integrity means staying firmly within your sense of right and wrong. It means deliberately crafting
    your behavior to suit the things that you know are most important to you.
  </p>
</div>

<div class="tab-content" id="self-determination">
  <h2><a href="http://selfdeterminationtheory.org/theory/">self-determination</a></h2>
  <p>
    It is deciding to determine for yourself the shape and trajectory of your life. It means crafting your
    own purpose and meaning. It means making your own plan for yourself.

    It also means being kind enough, accepting enough, and loving enough towards yourself that you
    choose to advocate for your own values by letting yourself live them.  
  </p>
</div>
