<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/moment.js"></script>

  <title>Accountability Checklist</title>
</head>
<body>
  <ul class="navbar">
    <li class="navlink left"><a href="/">Home</a></li>
    <li class="navlink left" id="date"><script>document.write(moment().format('MMMM Do'));</script></li>
    <% if logged_in? %>
      <li class="navlink right"><a href="/logout">logout</a></li>
      <li class="navlink right"><a href="/users/<%= current_user.id %>">profile</a></li>
      <li class="navlink right"><a href="/data">data</a></li>
      <li class="navlink right"><a href="/list">today's list</a></li>
    <% else %>
      <li class="navlink right"><a href="/users/new">sign up</a></li>
      <li class="navlink right"><a href="/login">login</a></li>
    <% end %>
  </ul>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="footer">
      <p>Made with love and coffee.</p>
      <p>&#169; Esther Leytush 2016</p>
    </div>
  </footer>
</body>
</html>
