<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/moment.js"></script>

  <title>Accountability Checklist</title>
</head>
<body>
  <ul class="navbar">
    <li class="navlink right"><a href="/">Home</a></li>
    <li class="navlink right" id="date"><script>document.write(moment().format('MMMM Do'));</script></li>
    <% if logged_in? %>
      <li class="navlink left"><a href="/list">Today's list</a></li>
      <li class="navlink left"><a href="/data">Data</a></li>
      <li class="navlink left"><a href="/user/<%= current_user.id %>">Profile</a></li>
      <li class="navlink left"><a href="/logout">Logout</a></li>
    <% else %>
      <li class="navlink"><a href="/users/new">Sign up</a></li>
      <li class="navlink"><a href="/login">Login</a></li>
    <% end %>
  </ul>

  <main>
    <%= yield %>
  </main>

  <footer>
    <div class="footer">
      <p>Made with love and coffee.</p>
      <p>Copyright Esther Leytush 2016.</p>
    </div>
  </footer>
</body>
</html>
